/node_modules
/target
/.dev
/.cache
/infra/modules/prometheus/prometheus.yaml
.terraform*
*.tfstate*
*.tfvars
.vscode
.pnp.*
.yarn/*
dist
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
scripts/token
